export(delarr)
export(delarr_seed)
export(delarr_backend)
export(delarr_mem)
export(delarr_hdf5)
export(delarr_mmap)
export(d_map)
export(d_map2)
export(d_reduce)
export(d_center)
export(d_scale)
export(d_zscore)
export(d_detrend)
export(d_where)
export(hdf5_writer)
export(collect)
export(block_apply)
export(rowMeans2)
export(colMeans2)
S3method(dim, delarr)
S3method(`[`, delarr)
S3method(as.matrix, delarr)
S3method(print, delarr)
S3method(Ops, delarr)
S3method(rowMeans2, delarr)
S3method(colMeans2, delarr)
